div
	h1= cnt
	button(onClick=add2) good
	each item in list
		li(key=$index, onClick=click.bind(null, $index))= item
	If(if=show)
		h1 hello
	If(if=!show)
		h1 world
	IfElse(if=show)
		h1 goodd
		h1 andsss
	if show
		div IFFFF
	else 
		div(className="11"+"22") ifff
